header{
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
    min-height: 70px;
    align-items: center;
    padding: 10px;
        .nombre{
            display: flex;
            align-items: center;
                img{
                    height: 50px;
                    margin-right: 10px;
                }
                h2{
                    height: 50px;
                }
    }
        nav{
            &:hover{
                color: white;
        }
            a{
                text-decoration: none;
                color:black;
                padding: 0px 32px;
                font-size: 15px;
        }
    }
}
