
section{
    background: url(../../imagen-fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    }
form{   
    background-color: lightgoldenrodyellow;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 30px;
        h2{
            color:rgb(1, 1, 1);
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }
        input{
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            box-sizing: border-box;
        }
        textarea{
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }

}
@include galeria;
@include flex;

.logo h2{
    color: black;
}

.titulo h1 {
    font-family: 'Roboto', sans-serif;
}
.logo h2{
    font-family: 'Karla', sans-serif;
}
.sub h3{
    font-family: 'Karla', sans-serif;
}
.logo h3{
    font-family: 'Karla', sans-serif;
}


.contacto h3{
    font-family: 'Karla', sans-serif;
}
